.App {
  min-height: 100vh;
  background-color: #f1f1f1;
}

.App-header {

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
  gap: 10px;
}

.img {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

li {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;



}

.img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

p {
  font-size: 1.3rem;
  color: #333;
}

@media screen and (max-width: 1200px) {
  ul {
    grid-template-columns: repeat(4, 1fr);
  }

}

@media screen and (max-width: 1024px) {
  ul {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media screen and (max-width: 768px) {
  ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  ul {
    grid-template-columns: repeat(1, 1fr);
  }
}